{% load static %}
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-light btn-floating m-1" href="https://baykartech.com/tr/" role="button">
        Baykar Teknoloji
      </a>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Baykar Teknoloji Web Yazılım Uzmanı / Back-End Developer pozisyonu için değerlendirmenin ilk aşaması olarak
        istenen projedir.
      </p>
    </section>
    <!-- Section: Text -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://linkedin.com/in/bedirhan-sahin/">Bedirhan Şahin</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->